<!-- Titre de la partie -->
<div class="container-fluid py-lg-5" id="exp">
    <h2 class="title-work">Expériences professionnelles</h2>

    <!-- 1er job -->
    <div class="row py-lg-2">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">





                <!-- Cercle de gauche -->
                <div class="col-1">
                    <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
                    <img class="dot round-animate" src="assets/creus.jpg" />
                </div>
                <!-- Description -->
                <div class="col-10 offset-1">
                    <mdb-card class="work-exp">
                        <mdb-card-body>
                            <!-- Intitulé et date -->
                            <h3 class="work-title">Stage - Création d'une application de bureau en Wlangage <span class="work-date"> Janvier-Fevrier 2021</span></h3>

                            <!-- Entreprise -->
                            <h2 class="work-entr">Le Creuset à Fresnoy le grand</h2>

                            <!-- Description -->
                            <p class="work-desc">
                                Cette application vient compléter L’ERP SAGEX3 l'objectif est de gérer les compteurs de temps des salariés

                            </p>
                            <ul>
                                <li>
                                    Création d'un exécutable à la fin de mon stage .
                                </li>

                                <li>
                                    Création d'un dossier de documentation pour le projet
                                </li>
                                <li>
                                    Création d'interfaces utilisateurs pour guider le client .
                                </li>
                            </ul>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>

    <!-- 2e job -->
    <div class="row py-lg-4">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">
                <!-- Cercle de gauche -->
                <div class="col-1">
                    <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
                    <img class="dot round-animate" src="assets/iesi.jfif" />
                </div>
                <!-- Description -->
                <div class="col-10 offset-1">
                    <mdb-card class="work-exp">
                        <mdb-card-body>
                            <!-- Intitulé et date -->
                            <h3 class="work-title">Alternance - Développement d'applications en Windev, NodeJS <span class="work-date"> Mai-Juin 2019</span></h3>

                            <!-- Entreprise -->
                            <h2 class="work-entr">IESI à Mérignies contrat de 2 ans </h2>

                            <!-- Description -->
                            <p class="work-desc">
                                Création d’une application de bureau codée en Java sous Eclipse permettant de gérer les cartes de transports des militaires.
                            </p>
                            <ul>
                                <li>
                                    Cette application se nomme "import démarches simplifiées" qui consiste à faire la démarche administrative en ligne des cartes de circulation des militaires et leur famille
                                </li>
                                <li>
                                    Utilisation de nombreux outils (Filezilla, Git, ISTOOL, Launch4j , Heidisql)
                                </li>
                                <li>
                                    Création d'un logigramme pour l'application et d'un executable pour le client
                                </li>
                            </ul>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>






    <!-- 2e job -->
    <div class="row py-lg-4">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">
                <!-- Cercle de gauche -->
                <div class="col-1">
                    <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
                    <img class="dot round-animate" src="assets/sslt.jpg" />
                </div>
                <!-- Description -->
                <div class="col-10 offset-1">
                    <mdb-card class="work-exp">
                        <mdb-card-body>
                            <!-- Intitulé et date -->
                            <h3 class="work-title">Stage - Développement d'une application en Java <span class="work-date"> Mai-Juin 2019</span></h3>

                            <!-- Entreprise -->
                            <h2 class="work-entr">Service spécialisé de la logistique et des transports à Denain </h2>

                            <!-- Description -->
                            <p class="work-desc">
                                Création d’une application de bureau codée en Java sous Eclipse permettant de gérer les cartes de transports des militaires.
                            </p>
                            <ul>
                                <li>
                                    Cette application se nomme "import démarches simplifiées" qui consiste à faire la démarche administrative en ligne des cartes de circulation des militaires et leur famille
                                </li>
                                <li>
                                    Utilisation de nombreux outils (Filezilla, Git, ISTOOL, Launch4j , Heidisql)
                                </li>
                                <li>
                                    Création d'un logigramme pour l'application et d'un executable pour le client
                                </li>
                            </ul>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>


    <!-- 2e job -->
    <div class="row py-lg-4">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">
                <!-- Cercle de gauche -->
                <div class="col-1">
                    <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
                    <img class="dot round-animate" src="assets/has.jfif" />
                </div>
                <!-- Description -->
                <div class="col-10 offset-1">
                    <mdb-card class="work-exp">
                        <mdb-card-body>
                            <!-- Intitulé et date -->
                            <h3 class="work-title"> Animateur en centre de loisirs <span class="work-date"> Juillet 2016- Juillet 2021 </span></h3>

                            <!-- Entreprise -->
                            <h2 class="work-entr">Mairie à Haspres </h2>

                            <!-- Description -->

                            <ul>
                                <li>
                                    Assurer la sécurité des enfants tout en les divertissant.
                                </li>
                                <li>
                                    Organiser des animations de qualité adaptées à l’âge de l’enfant
                                </li>
                                <li>
                                    Vivre et travailler en équipe.

                                </li>
                            </ul>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>

    <!-- 3nd job -->
    <div class="row py-lg-4">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">
                <!-- Cercle de gauche -->
                <div class="col-1">
                    <!-- On utilise le module ng-in-viewport pour vérifier si notr ecercle est dans le viewport ou pas -->
                    <img class="dot round-animate" src="assets/damp.jfif" />
                </div>
                <!-- Description -->
                <div class="col-10 offset-1">
                    <mdb-card class="work-exp">
                        <mdb-card-body>
                            <!-- Intitulé et date -->
                            <h3 class="work-title">Projet de groupe durant la formation de BTS<span class="work-date"> Juillet-Août 2019</span></h3>

                            <!-- Entreprise -->
                            <h2 class="work-entr">Lycée Dampierre à Valenciennes </h2>

                            <!-- Description -->
                            <li>
                                Creation de site internet de type Ecommerce codé en PHP, MySql, HTML, CSS <br>
                                <li> Utilisation de l’outil de versioning GitHub
                                </li>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>




</div>